body {
    margin: 20px 20px;
    background: rgba(185, 185, 185, 0.477);
}
.index {
    padding: 5px 15px;
    margin: 5px;
    border-radius: 5px;
    background: rgb(156, 183, 227);
}
a {
    text-decoration: none;
    color: black;
}
.container {
    display: flex;
    width: 200px;
    margin: 50px 35%;
    background: #6a8bb8bf;
    padding: 30px;
    border-radius: 15px;
}

input {
  margin: 8px;
  padding: 7px;
  border: 2px solid rgb(49, 68, 100);
  border-radius: 8px;
}
.butt {
    border: 2px solid rgb(49, 68, 100);
    background: rgb(175, 201, 235);
    padding: 5px 25px;
    margin: 10px 25%;
    border-radius: 5px;
    text-align: center;
}
h2 {
    color: rgb(33, 47, 70);
    margin: 5px 30%;
}
form {
    width: 100%
}